<% include partials/header %>
  <form class="ui form main text container segment" action="/blogs" method="POST">
    <h1 class="ui header">New Blog</h1>
    <div class="field">
      <label>Title</label>
      <input name="blog[title]" placeholder="Title" type="text" required>
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" placeholder="URL Image" required>
    </div>
    <div class="field">
      <label>Blog Content</label>
      <textarea name="blog[body]" required></textarea>
    </div>
    <button class="ui button big primary" type="submit">Submit</button>
  </form>
  <% include partials/footer %>